@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@font-face {
    font-family: 'optimusprincepssemiboldRg';
    src: url('../fonts/optimusprincepssemibold-webfont.woff2') format('woff2'),
         url('../fonts/optimusprincepssemibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'optimusprincepsregular';
    src: url('../fonts/optimusprinceps-webfont.woff2') format('woff2'),
         url('../fonts/optimusprinceps-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


$bg-blue: #090236;;
$primary-white: #FFF;
$font-color-gray: rgba(255,
255,
255,
0.75);
$font-dark-gray: #999898;
$font-color-blue: #341DCF;
$primary-yellow: #FEE105;
$primary-black: #000;
* {
    margin: 0;
    padding: 0;
}

%intro_heading {
    font-family: 'optimusprincepssemiboldRg';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    text-transform: uppercase;
    line-height: 56px;
}

%span_heading {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    font-family: 'Nunito', sans-serif;
    color: $font-dark-gray;
}

.header {
    padding-top: 1.1rem;
    nav {
        width: 87%;

        .navbar-toggler-icon{
            background-image: url("../img/Group\ 26.svg");
        }
    }
    .nav-link {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        font-family: 'Nunito', sans-serif;
        color: $primary-white !important;
    }
    .nav-item {
        padding-right: 24px;
    }
}

.hero {
    &_bg {
        background: url("../img/dotair\ background\ png\ desktop.png");
        background-repeat: none;
    }
    &_content {
        // padding-top: 18vh;
        padding-bottom: 35vh;
        p {
            color: $primary-white !important;
            padding-top: 10px;
            font-style: normal;
            font-weight: 800;
            font-size: 24px;
            line-height: 33px;
            /* identical to box height */
            letter-spacing: 0.2em;
        }
    }
    &_main {
        padding-top: 19.6vh;
    }
}

.about {
    padding-top: 81px;
    padding-bottom: 42px;
    &_heading {
        @extend %intro_heading;
        color: $font-color-blue;
    }
    .card{
        border: none;
        // height: 70px;

        &-image{
            height: 55vh;
        }
    }
}

.photos {
    padding-top: 76px;
    &_heading {
        @extend %intro_heading;
        color: $font-color-blue;
    }
}

.gigs {
    padding-top: 57px;
    &_heading {
        @extend %intro_heading;
        color: $font-color-blue;
    }
    .heading_span {
        @extend %span_heading;
    }
}

// info_section
.info {
    background: url("../img/info-background\ desktop.png");
    background-position: center;
    color: $primary-white;
    &_pad {
        padding-top: 29px;
        padding-bottom: 49px;
    }
    &_intro {
        font-family: OptimusPrincepsSemiBold;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 56px;
        margin-top: 29px;
        padding-bottom: 2rem;
        color: #FEE105;
    }
    .info_counter {
        padding-top: 2rem;
    }
    li {
        list-style: none;
        span {
            color: $font-color-gray;
        }
    }
    .counter {
    font-family: 'optimusprincepssemiboldRg';
        font-style: normal;
        font-weight: 500;
        font-size: 52px;
        line-height: 59px;
        color: $primary-yellow;
        margin-top: 32px;
    }
    p {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 25px;
        font-family: 'Nunito', sans-serif
    }
}

// blog_section
.blog {
    padding-top: 64px;
    padding-bottom: 89px;
    &_heading {
        @extend %intro_heading;
        color: $font-color-blue;
    }
    .heading_span {
        @extend %span_heading;
    }
}

// footer
footer {
    background: $bg-blue;
    color: #FFF;
    padding-top: 41px;
    ul {
        li {
            line-height: 35px;
            list-style: none;
            color: #FFF !important;
            span {
                a {
                    color: rgba(255, 255, 255, 0.75) !important;
                }
            }
        }
    }
    .social_icons {
        li {
            
            img {
                padding-right: 32.61px;
            }
        }
    }
    .copyright {
        padding-top: 61px;
        padding-bottom: 21px;

        p{
            font-weight: bold;
font-size: 18px;
line-height: 35px;
/* identical to box height, or 194% */

letter-spacing: 0.2em;
        }
    }
    .heading {
        font-size: 48px;
        line-height: 56px;
        text-transform: uppercase;
    font-family: 'optimusprincepssemiboldRg';
    }
}

//COMMON VARIABLES

//MIXINS
//transitions mixin
@mixin transition-mix($property: all,
$duration: 0.2s,
$timing: linear,
$delay: 0s) {
    transition-property: $property;
    transition-duration: $duration;
    transition-timing-function: $timing;
    transition-delay: $delay;
}

//position absolute mixin
@mixin position-absolute ($top: null,
$left: null,
$right: null,
$bottom: null) {
    position: absolute;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
}


/* common styles !!!YOU DON'T NEED THEM  */


/* progress bar styles !!!YOU NEED THEM */

$progress-bar-width: 550px;
$progress-bar-offset-vert: 35px;
.progress-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.progress-bar {
    background-color: #E9E6E6 !important;
    position: relative;
    // width: $progress-bar-width;
    box-sizing: border-box;
    &:not(:last-child) {
        margin-bottom: $progress-bar-offset-vert;
    }
}

.progress-bar--lg-offset {
    &:not(:last-child) {
        margin-bottom: $progress-bar-offset-vert * 1.5;
    }
}



.progress-bar__bar {
    position: relative;
    height: 100%;
    // width: 100%;
    overflow: hidden;
}

.progress-bar__bar--no-overflow {
    overflow: visible;
}

.progress-bar__bar-inner {
    @include position-absolute($top: 0, $left: 0);
    height: 100%;
    transform: scaleX(0);
    transform-origin: left center;
    &.js-animated {
        @include transition-mix($duration: .5s, $timing: cubic-bezier(0.1, 1.14, 0.31, 1.06));
        transform: scaleX(1);
    }
}

.progress-bar__skill,
.progress-bar__value {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: $primary-black;
    text-transform: uppercase;
    // margin-bottom: 5rem;
}

.progress-bar__value--aligned-value {
    transform: translateX(-50%);
}


/* progress bar #1 styles */

$progress-1-height: 14px;
$progress-1-border: #dddddd;
$progress-1-color-1: #00BFB3;
$progress-1-color-2: #037971;
$progress-1-label-top: - ($progress-1-height+7);
.progress-bar--1 {
    height: $progress-1-height;
    padding: 0px;
    border: 1px solid $progress-1-border;
    border-radius: $progress-1-height;
}

.progress-bar__bar-inner--1 {
    background-image: linear-gradient(to right, $font-color-blue 0);
    background-size: 200%;
    background-position: 0 0;
    border-radius: $progress-1-height;
}

.progress-bar__skill--1 {
    @include position-absolute($top: $progress-1-label-top, $left: -20px);
    opacity: 0;
    &.js-animated {
        @include transition-mix;
        left: 0;
        opacity: 1;
    }
}

.progress-bar__value--1 {
    font-family: 'optimusprincepssemiboldRg';
    @include position-absolute($top: $progress-1-label-top, $right: -20px);
    opacity: 0;
    &.js-animated {
        @include transition-mix;
        right: 0;
        opacity: 1;
    }
}

.typing-demo {
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: inherit;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }


  @media screen and (max-width: 768px) {
   .hero_main{
    img{
        width: 14rem;
    }
}
.header{
    nav{
        width: 100%;
    }
}
.hero {
    &_bg {
        background: url("../img/dotair\ background\ png\ mobile.png");
        background-repeat: none;
    }
}
// .carousel-item{
//     display: block;
// }

%intro_heading {
    font-family: 'optimusprincepssemiboldRg';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 56px;
}

footer{
    .heading{
        font-size: 20px;
    }
}
.info .counter {
    font-size: 24px;
   
}
.info{
    padding-left: 70px;

    p{
        font-size: 9px;
        line-height: 12px;
    }
}

.info_img{
    width: 10.8rem;
}
.info li {
    font-size: 14px;
}
.progress-bar__skill{
    font-size: 14px;
}
.progress-bar__value {
    font-size: 16px;
}

footer .social_icons li img {
    padding-right: 12.61px;
}




  }




  .music_bg{
      background: url("../img/music-background\ desktop.png");
  }
  .music_heading{
      @extend %intro_heading;
      color: #FEE105;
  }
 
.music_content{
    padding-bottom: 8rem;
    padding-top: 15rem;
}

.carousel-control-prev{
    left: 5vw;
}

.carousel-control-prev-icon{
    background-image: url("../img/Line\ 2.png");
}
.carousel-control-next{
    right: 5vw;

    &-icon{
        background-image: url("../img/Line\ 3.png");

    }
}


.owl-theme .owl-controls{
    margin-top: 30px;
}
.owl-theme .owl-controls .owl-page span{
    background: #fff;
    border: 2px solid #37a6a4;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #37a6a4;
}

.pagination_bullet{
    width: 16px;
    border-radius: 50%;
    height: 16px;
    display: inline-block;
    background: rgb(194, 193, 193);
    margin-right: 5px;
}
